/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #484454;
  color: white;
}

.navbar{
  background-color: #282424;
  color: white;
  height: 80px;
  padding-left: 600px;
  padding-top: 15px;
  font-size: 40px;
  margin-bottom: 100px;
}

.main-div{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}


h1,h2{
  font-style: italic;
}

.box{
  width: 400px;
  background-color: #48444c;
  border-color: rgba(32,33,35,.5);
  color: rgba(254, 254, 254, 0.538);
}